body {
    margin: 0;
}

.nav {
    background-color: #18c3f3;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

@media screen and (max-width:2560px) {
    .link {
        text-align: right;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .burger {
        display: none;
    }
}
@media screen and (max-width:1920px) {
    .link {
        text-align: right;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .burger {
        display: none;
    }
}
@media screen and (max-width:768px) {
    .link > a{
        display: none;
    }
    .burger {
        display: flex;
        justify-content: right;
        padding-right: 10px;
    }
}




div {
    font-family: 標楷體;
    font-size: 25px;
    margin: 0px auto;
    text-align: center;
    padding: 10px;
}

.title {
    font-weight: bold;
    font-size: 20px;
}

.username {
    color: blue;
}

.nickname {
    color: goldenrod;
}

.comfirm {
    background-color: rgb(255, 140, 0);
}

input:invalid {
    background-color: red;
}